

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AS</title>
    <link rel="stylesheet" href="css/home.css">
</head><style>
    .logo{
        border-radius: 20px;
    }
</style>
<body>
    <!-- <div class="area">⚠ achtung ⚠</div> -->
    <div  class="area">

        <h1 > WELCOME  TO  AGRI - SMART </h1>
        
        <hr>
        <div>
          <a href="/login">  <img class="logo" src="../img/AGRI-SMART.png" alt="click here for more information"></a>
</body>

