
<head>
    <title>Forget password</title>
    <link rel="stylesheet" href="css/new.css">
</head>
<body>
  

    <center>
        <div class="bg-img" >
            <form action="new" method="POST" >
                <div class="imgcontainer">
                  <img src="../img/AGRI-SMART.png"  class="avatar">
                </div>
              
                <div class="containerz" >
                  <label for="id"  ><b>PLease enter the Id</b></label>
                  <input type="text" placeholder="Enter your ID" name="nid" required>
              



                  <label for="npsw"  ><b>New Password</b></label>
                  <input type="text" placeholder="Enter new password" name="npsw" required>
              
                  <label for="psw"><b>Confirm Password</b></label>
                  <input type="password" placeholder="Confirm Password" name="cpsw" required>
             
                  <button type="submit">Submit</button>
                  <label>
                    <!-- <div class="container" > -->
                        <a href="/index">
                            <button type="button"  class="cancelbtn">Cancel</button>
                        </a>
                     
                      <!-- <span class="psw"><a href="#">Forgot password?</a></span> -->
                    <!-- </div> -->
                    <!-- <input type="checkbox" checked="checked" name="remember"> Remember me -->
                  </label>
                </div>
            
               
              </form>
             
            </div>      
        
    </center>
   
      
   
    
</body>