/* signup */


* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 20px 0 2px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
body{
  background-image: url("pexels-pixabay-259280.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}
.bg_img {
    /* The image used */
    height:650px;
    width: 800px;
    color: transparent;

  }


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 15px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 20%;
}

/* Add padding to container elements */
.containers {
  padding: 50px;
  text-align: left;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 100;
  background: rgba(250, 252, 252, 0.253);
 
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
/* @media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
} */


#nav-bar{
    position: sticky;
    top: 0;
    z-index: 40 ;

}
/* .collapse {
    background-image: url("pexels-pixabay-259280.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */
.navbar{
    background-image: linear-gradient(to right,#fff);
    text-align: center;
    font-size: 25px;
}
.navbar-brand{
  padding-left:20px;
 

}
.navbar-nav li{
    padding: 0  10px ;
}
.navbar-nav li a{
    color: rgb(7, 40, 100)!important;
    font-weight:600;
    float: right;
    text-align: left;
}
.fa-bars{
    color: #fff ;
    font-size: 30px !important;
   
}
.navbar-toggler{
    outline: none !important;
}